.featuredProjects{
    display: flex;
    flex-direction: column;
}
.subHeading{
    color: rgba(255, 255, 255, 1);
    font-size: 0.9rem;
    margin-bottom: 20px;
}
.featuredProjectCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1b1d;
    padding: 1.5rem;
    margin-bottom: 10px;
    /* transition: background-color .2s; */
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}
.featuredProjectCard:hover .cardImage{
    opacity: 1;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.featuredProjectCard:hover{
    background-color: #1b1b1d;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}
.cardInfo{
    display: flex;
    flex-direction: column;   
}
.cardTitleGroup{
    display: flex;
    flex-direction: column;
}
.cardTitle{
    color: #fff;
    font-size: 0.9em;
    font-family: 'TT Norms Regular';
    margin-bottom: 5px;
}
.cardSubTitle{
    color: #ffffff;
    font-size: 0.6em;
    font-family: 'TT Norms Light';
}
.cardDetails{
    width: 90%;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
}
.cardLinks{
    color: rgba(255, 255, 255, 0.4);
    /* margin-top: 20px; */
    font-family: 'TT Norms Light';
    font-size: 0.9em;
}
.image-container{
    width: 100%;
    position: unset !important;
}
.cardImage{
    object-fit: contain;
    width: 100% !important;
    height: unset !important;
    opacity: 0.09;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}