.otherProjects{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}
.subHeading{
    color: rgba(255, 255, 255, 1);
    font-size: 0.9rem;
    margin-bottom: 20px;
}
.otherProjectWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.otherProjectCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1b1d;
    padding: 40px 40px;
    margin-bottom: 10px;
    flex-basis: 48%;
}
.otherProjectCard:hover .cardTitle{
    background-color: green;
}
.cardInfo{
    display: flex;
    flex-direction: column;
}
.cardTitleGroup{
    display: flex;
    flex-direction: column;
}
.cardTitle{
    color: #fff;
    font-size: 0.9em;
    font-family: 'TT Norms Regular';
    margin-bottom: 5px;
}
.cardSubTitle{
    color: #ffffff;
    font-size: 0.6em;
    font-family: 'TT Norms Light';
}
.cardDetails{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
}
.cardLinks{
    color: rgba(255, 255, 255, 0.4);
    margin-top: 20px;
    font-family: 'TT Norms Light';
    font-size: 0.9em;
}

@media screen and (max-width: 993px){
    .otherProjectCard{
        flex-basis: 100%;
    }
}