.projectSection{
    overflow-y: auto;
    height: 80vh;
    scrollbar-width: none; 
    flex-basis: 50%;
    scroll-behavior: smooth;
    
}
/* .projectSection:hover{
    overflow-y: auto;
} */
.projectSection::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
  